name: copr_start_built
on:
  schedule:
    - cron: "18 0 0 0 0"


  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    container: fedora:latest
    runs-on: ubuntu-latest

    steps:

      # Install rpm and copr tools
      - name: Install tooling for source RPM build
        run: dnf -y install copr-cli
        
      - name: Start build  
        env:
          API_TOKEN_CONTENT: ${{ secrets.COPR_API_TOKEN }}
        run: |
           mkdir -p "$HOME/.config"
           echo "$API_TOKEN_CONTENT" > "$HOME/.config/copr"
           PACKAGE_VERSION=$(copr-cli list-packages signal-desktop --with-latest-build | jq '.[].latest_build.source_package.version'  | cut -d '-' -f1 | sed "s/\"//")
           LATEST_VERSION=$(curl -sL -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" https://api.github.com/repos/signal-app/signal-desktop/releases/latest | jq ".tag_name" | sed 's/\"//g' | cut -c2-)
           
           if [ "$LATEST_VERSION" != "$PACKAGE_VERSION" ] 
           then
            copr-cli build-package --name signal-desktop signal-desktop
           else
            echo "No update"
           fi
            





